*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Verdana;
  font-weight: lighter;
  font-size: 16px;
  margin: 0;
  height: 100%;
  color: #555;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 90%;
  width: 90%;
  transform: translateY(5%);
  max-width: 600px;
  min-width: 320px;
  background-color: #f2f2f2;
  border: 2px solid #DDD;
  border-radius: 6px;
}

.item-counter {
  flex: 0 0 auto;
  margin: auto;
  width: 95%;
  height: 40px;
  padding: 10px 5px;
  border-bottom: 2px solid #DDD;
}

.item-counter--sentence {
  font-size: 14px;
}

.entry-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  height: 1px;
  overflow-y: auto;
}

.entry {
  padding: 15px 15px 10px 15px;
}

.entry:hover {
  background-color: #FFF;
  transition: 0.3s all ease;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #FFF;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-right: 15px;
}

.avatar img {
  max-width: 100%;
}

.entry-content {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 65px);
  position: relative;
}

.entry-text {
  width: calc(100% - 75px);
  margin: 0;
  line-height: 20px;
  float: left;
  line-height: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hide {
    visibility: hidden;
}

.controls {
  float: right;
}

.controls--button {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #ccc;
  color: #777;
}

.controls--button:last-child {
  margin-left: 5px;
}

.controls--button:hover {
    color: black;
    background-color: #f2f2f2;
    transition: 0.3s all ease;
}

.timestamp {
  font-size: 11px;
  float: right;
}

.input-text {
  flex: 0 0 auto;
  height: 50px;
  line-height: 40px;
  background-color: #FFF;
  border: none;
  border-top: 2px solid #DDD;
  border-radius: 0 0 6px 6px;
  padding: 0 20px;
  font-size: 16px;
}

.input-text.edit {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 75px);
    background-color: transparent;
    line-height: 35px;
    height: auto;
    padding: 0;
    border: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #888;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #888;
  opacity: 0.5

}
:-moz-placeholder { /* Firefox 18- */
  color: #888;
  opacity: 0.5;
}
